:root {
	--primary-color: #ec1f55;
	--text-color: #333;
	--while-color: #fff

  }
*{
	padding: 0;
	margin: 0;
}  


body{
	background-color: #f5f5f5;
}

.main{
	max-width: 480px;
	margin: 0px auto;
	position: relative;
}

.main .icon-onplay {
	display: none;
}
  
.main.playing .icon-onplay {
	display: inline-block;
  }
  
.main.playing .icon-onpause {
	display: none;
}
.dashboard{
	width: 100%;
	max-width: 480px;
	margin: 0px auto;
	/* padding: 16px 16px 14px; */
	position: fixed;
	top: 0;
	border: 1px solid #ebebed;
	background-color: #170f23;
}

.dashboard_header{
	text-align: center;
}

.dashboard_header h4{
	font-size: 17px;
	color: var(--primary-color);
}

.dashboard_header .heading{
	font-size: 20px;
	color: var(--while-color);
	margin-bottom: 10px;
}

.cd{
	display: flex;
	max-width: 200px;
	margin: 0px auto;
}

.cd-thumb{
	width: 100%;
	max-width: 480px;
	padding-top: 100%;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-color: #333;
	margin: auto;
}

.controls{
	margin: 20px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.btn{
	font-size: 18px;
	color: #999;
}

.controls .btn.active{
	color: var(--primary-color);
}
.controls .btn-toggle-play{
	width: 56px;
	height:	56px;
	font-size: 24px;
	background-color: var(--primary-color);
	border-radius: 50%;
	display:flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0 0 2px 2px rgba(255, 255, 255);
}
.progress{
	width: 316px;
	margin-left: 32px;
	margin-top: 20px;
}

.playlist{
	margin-top: 370px;
	padding: 15px;
	background-color: #170f23;
}

.song{
	background-color: #170f23;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	border-radius: 6px;
	box-shadow: 0  2px 1px rgba(0, 0, 0, 0.1);
	padding: 5px;
}

.song.active {
	background-color: #999;
  }
  .song.active .author,
  .song.active .title,
.song.active .option{
	color: #fff;
	font-weight: 300;
}
  
.song:active {
	opacity: 0.9;
  }

.thumb{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 14px;
}

.body{
	flex: 1;
}
.title{
	font-size: 16px;
	color: var(--while-color);
}
.author{
	font-size: 14px;
	color: #999
}

.option{
	font-size: 15px;
	color: #999;
}
/* chạy trên iphone 5 */
@media  (max-width:568px) {
	.progress{
		width: 260px;
	}
}

@media (min-width: 375px) and (max-width : 667px){
	.progress{
		width: 316px;
	}
}

 /* chạy trên iphone 6/7/8 plus */
@media (min-width : 414px) and (max-width : 736px) {
	.progress{
		width: 350px;
	}
}

/* chạy trên ipad */
@media (min-width: 768px) and (max-width: 1023px) {
	.progress{
		width: 413px;
	}
}

@media (min-width : 1024px) {
	.progress{
		width: 423px;
	}
}

